<section class="screen second-screen">
    <div class="second-screen__inner">
        <div class="second-screen__title">
            о компании
        </div>
        <div class="content">
            <p>
                Luisa Wang — это новый бренд женской одежды, открывающий свой первый магазин в России этой весной.
                Наш подход основан на сочетании элегантности, современного минимализма и высокого качества.
            </p>
            <p>
                В коллекциях представлены платья, базовые костюмы, трикотаж, верхняя одежда и аксессуары, создающие
                универсальные образы для любой ситуации — от офиса до вечернего выхода. Мы выбираем только натуральные
                ткани и используем современные технологии, чтобы каждая вещь радовала комфортом, изысканным дизайном
                и качеством.
            </p>
            <p>
                Первый магазин откроется в «Авиапарке», где стильное оформление витрин и тщательно продуманное
                пространство сделают процесс выбора одежды ещё приятнее. Luisa Wang — для тех, кто ценит стиль, внимание
                к деталям и гармонию в образе.
            </p>
        </div>
    </div>
</section>